

body {
    /* declare css variables for common constant values */
    --bg0: #e3a8c6;
    --bg1: #d182ab;

    --fg0 : #a982d1;
    --focus: #590ca6;

    --green: #BFD39D;
    --red: #9d0006;


    font-family: "Apple Chancery", cursive;
    background-color: var(--bg0);
}

h1{
    font-weight: 500;
}